<div id="menu_symbol" class="hidden">
    <svg width="100%" height="100%" viewBox="0 0 47 59"
        version="1.1" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        xml:space="preserve"
        style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;">

        <path d="M0.612381,19.5761l0,39.2724l46.0193,0l0,-39.2724l-23.4529,-19.3695l-22.5664,19.3695"
            id="menu_symbol_shape"
            class="menu_symbol_active"
            style="fill:#000;"/>

        <path d="M30.6947,27.3016l3.56112,0c-0.199922,-1.42445 -0.624757,-2.68021 -1.27451,-3.76729c-0.649748,-1.08708 -1.46193,-1.99298 -2.43655,-2.71769c-0.974622,-0.724719 -2.08669,-1.27451 -3.3362,-1.64936c-1.24951,-0.374854 -2.574,-0.562282 -3.97346,-0.562282c-2.0492,0 -3.86725,0.368607 -5.45413,1.10582c-1.58688,0.737214 -2.91137,1.74307 -3.97346,3.01758c-1.06209,1.27451 -1.86802,2.76768 -2.41781,4.47951c-0.549787,1.71184 -0.82468,3.54237 -0.82468,5.49162c0,1.94924 0.256151,3.77353 0.768452,5.47287c0.512301,1.69934 1.28075,3.17377 2.30535,4.42328c1.0246,1.24951 2.3116,2.23038 3.861,2.94261c1.5494,0.712223 3.36119,1.06834 5.43539,1.06834c3.42367,0 6.12262,-0.937136 8.09686,-2.81141c1.97423,-1.87427 3.13628,-4.49825 3.48615,-7.87194l-3.56112,0c-0.0749709,1.09957 -0.299884,2.12418 -0.674738,3.07381c-0.374854,0.949631 -0.893403,1.76806 -1.55565,2.4553c-0.662243,0.687233 -1.44944,1.22452 -2.36158,1.61187c-0.912146,0.38735 -1.95549,0.581024 -3.13003,0.581024c-1.59938,0 -2.97385,-0.299884 -4.1234,-0.899651c-1.14955,-0.599767 -2.09294,-1.4057 -2.83015,-2.41781c-0.737214,-1.01211 -1.28075,-2.19915 -1.63062,-3.56112c-0.349864,-1.36197 -0.524796,-2.80516 -0.524796,-4.32957c0,-1.39946 0.174932,-2.74893 0.524796,-4.04843c0.349864,-1.2995 0.893403,-2.4553 1.63062,-3.4674c0.737214,-1.01211 1.67435,-1.81804 2.81141,-2.41781c1.13706,-0.599767 2.50528,-0.899651 4.10466,-0.899651c1.87427,0 3.49239,0.474816 4.85436,1.42445c1.36197,0.949631 2.24288,2.37408 2.64272,4.27334Z"
            style="fill:#fff;fill-rule:nonzero;"></path>

        <path d="M20.3112,25.9146l0,26.7646l3.18626,0l0,-2.5865l0.0749709,0c0.349864,0.574777 0.780947,1.05584 1.29325,1.44319c0.512301,0.38735 1.05584,0.693481 1.63062,0.918393c0.574777,0.224913 1.1558,0.38735 1.74307,0.487311c0.587272,0.0999612 1.11832,0.149942 1.59313,0.149942c1.47443,0 2.76768,-0.262398 3.87974,-0.787194c1.11207,-0.524796 2.03671,-1.24327 2.77392,-2.15541c0.737214,-0.912146 1.287,-1.98048 1.64936,-3.20501c0.362359,-1.22452 0.543539,-2.52402 0.543539,-3.89849c0,-1.37447 -0.187427,-2.67396 -0.562282,-3.89849c-0.374854,-1.22452 -0.930889,-2.30535 -1.6681,-3.24249c-0.737214,-0.937136 -1.66185,-1.6806 -2.77392,-2.23038c-1.11207,-0.549787 -2.41781,-0.82468 -3.91723,-0.82468c-1.34948,0 -2.5865,0.243655 -3.71106,0.730966c-1.12456,0.487311 -1.94924,1.26826 -2.47404,2.34284l-0.0749709,0l0,-10.0086l-3.18626,0ZM35.3054,42.8206c-7.10543e-15,0.949631 -0.0999612,1.87427 -0.299884,2.77392c-0.199922,0.899651 -0.524796,1.69934 -0.974622,2.39907c-0.449825,0.699728 -1.04334,1.26201 -1.78056,1.68684c-0.737214,0.424835 -1.65561,0.637253 -2.75518,0.637253c-1.09957,0 -2.03671,-0.20617 -2.81141,-0.61851c-0.774699,-0.41234 -1.4057,-0.955879 -1.89301,-1.63062c-0.487311,-0.674738 -0.843422,-1.45568 -1.06834,-2.34284c-0.224913,-0.887155 -0.337369,-1.80555 -0.337369,-2.75518c-7.10543e-15,-0.899651 0.106209,-1.78681 0.318626,-2.66147c0.212418,-0.87466 0.556034,-1.65561 1.03085,-2.34284c0.474816,-0.687233 1.08708,-1.24327 1.83679,-1.6681c0.749709,-0.424835 1.66185,-0.637253 2.73644,-0.637253c1.0246,0 1.91801,0.199922 2.68021,0.599767c0.762204,0.399845 1.38696,0.937136 1.87427,1.61187c0.487311,0.674738 0.84967,1.44319 1.08708,2.30535c0.237408,0.862165 0.356112,1.74307 0.356112,2.64272Z"
            style="fill:#fff;fill-rule:nonzero;"></path>
    </svg>
</div>

<div id="menu">
    <ul>
        <li><a name="about"    href="{{page.base_url}}#about">{{menu home.menu.about "We are"}}</a></li>
        <li><a name="process"  href="{{page.base_url}}#process" data-expand="process">{{menu home.menu.process "How we work"}}</a></li>
        <li><a name="projects" href="{{page.base_url}}#works">{{menu home.menu.works "Works"}}</a></li>
        <li><a name="clients"  href="{{page.base_url}}#clients">{{menu home.menu.clients "Clients"}}</a></li>
        <li><a name="contact"  href="{{page.base_url}}#people" data-expand="partners">{{menu home.menu.contact "Contact"}}</a></li>
    </ul>
</div>
