<div id="menu_symbol" class="hidden">
    <svg width="100%" height="100%" viewBox="0 0 47 59"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        xml:space="preserve"
        style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:square;stroke-linejoin:round;stroke-miterlimit:1.41421;">

        <path
            d="M0.612381,19.5761l0,39.2724l46.0193,0l0,-39.2724l-23.4529,-19.3695l-22.5664,19.3695"
            id="menu_symbol_shape"
            class="menu_symbol_active"/>
        <g id="menu_symbol_cross">
            <path
                d="M8.69222,51.5477l29.4695,-29.4695"
                style="fill:none;stroke-width:2.08px;stroke:#000;"/>
            <path
                d="M8.69222,22.0782l29.4695,29.4695"
                style="fill:none;stroke-width:2.08px;stroke:#000;"/>
        </g>
    </svg>
</div>

<div id="menu">
    <ul>
        <li><a name="about"    href="{{page.base_url}}#about">{{menu home.menu.about "We are"}}</a></li>
        <li><a name="process"  href="{{page.base_url}}#process" data-expand="process">{{menu home.menu.process "How we work"}}</a></li>
        <li><a name="projects" href="{{page.base_url}}#works">{{menu home.menu.works "Works"}}</a></li>
        <li><a name="clients"  href="{{page.base_url}}#clients">{{menu home.menu.clients "Clients"}}</a></li>
        <li><a name="contact"  href="{{page.base_url}}#people" data-expand="partners">{{menu home.menu.contact "Contact"}}</a></li>
    </ul>
</div>
