{{> menu}}

<div id="intro_wrapper">
    <img src="/public/images/logo.svg">
    <ul>
        <li>
            <img src="/public/images/twitter.svg" height="20">
            <a href="https://twitter.com/comtebureau">@comtebureau</a>
        </li>
        <li>
            <img src="/public/images/facebook.svg" height="20">
            <a href="https://www.facebook.com/ComteA">Comte Facebook</a>
        </li>
    </ul>
</div>

{{#if home.colors.about_bg}}
    <section style="background-color: {{home.colors.about_bg}}; color: {{home.colors.about_fg}};" id="about">
{{else}}
    <section class="yellow" id="about">
{{/if}}
    <div>
        <h1>{{home.about.title}}</h1>
        <h2 class="salmon">{{home.about.subtitle}}</h2>
        {{ashtml home.about.description}}
        <a href="#process" class="button" id="btn_process">{{home.about.more_link}}</a>
    </div>
</section>

{{#if home.colors.process_bg}}
    <section style="background-color: {{home.colors.process_bg}}; color: {{home.colors.process_fg}};" id="process">
{{else}}
    <section class="salmon" id="process">
{{/if}}
    <div class="collapsible">
        <ul>
            <li>
                <h2>{{home.about.title_insight}}</h2>
                <img src="/public/images/symbol_03.svg">
                {{ashtml home.about.description_insight}}
            </li>
            <li>
                <h2>{{home.about.title_strategy}}</h2>
                <img src="/public/images/symbol_02.svg">
                {{ashtml home.about.description_strategy}}
            </li>
            <li>
                <h2>{{home.about.title_design}}</h2>
                <img src="/public/images/symbol_01.svg">
                {{ashtml home.about.description_design}}
            </li>
        </ul>
    </div>
</section>

{{#if works}}
<section id="works">
    {{#workslist works}}
        <ul id="worklist">
        {{#each row}}

            {{#if main_photo}}
                {{imagestyle id "li" main_photo}}
                <li class="{{@description}}" id="{{id}}">
            {{else}}
                {{#if background_color}}
                    <li class="{{@description}} {{background_color}}">
                {{else}}
                    <li class="{{@description}} black">
                {{/if}}
            {{/if}}

                <a href="{{link}}" class="shade">
                    <div>
                        <h2>{{title}}</h2>
                        <h3>{{subtitle}}</h3>
                    </div>
                </a>
            </li>
        {{/each}}
        </ul>
    {{/workslist}}
</section>
{{/if}}

{{#if home.colors.clients_bg}}
    <section style="background-color: {{home.colors.clients_bg}}; color: {{home.colors.clients_fg}};" id="clients">
{{else}}
    <section class="greenish" id="clients">
{{/if}}
    <div>
        <h1>{{home.clients.title}}</h1>
        {{ashtml home.clients.description}}

        {{#if clients}}
        <ul id="logos">
        {{#each clients}}
            <li>
                <picture>
                    <source srcset="{{logo.main}}" media="(min-width: 960px)">
                    <source srcset="{{logo.large}}" media="(min-width: 700px) and (max-width: 960px)">
                    <source srcset="{{logo.medium}}" media="(min-width: 400px) and (max-width: 700px)">
                    <img srcset="{{logo.small}}" alt="{{logo.alt}}">
                </picture>
            </li>
        {{/each}}
        </ul>
        {{/if}}
    </div>
</section>

{{#if home.people.photo}}
    {{imagestyle "people" "section" home.people.photo}}
    <section class="wide" id="people">
{{else}}
    <section class="black" id="people">
{{/if}}
    <div>

        <h1>{{home.people.title}}</h1>
        {{ashtml home.people.description}}

        <a href="#partners" class="button" id="btn_partners">{{home.people.more_link}}</a>

    </div>
</section>

{{#if home.colors.partners_bg}}
    <section style="background-color: {{home.colors.partners_bg}}; color: {{home.colors.partners_fg}};" class="wide" id="partners">
{{else}}
    <section class="black wide" id="partners">
{{/if}}
    <div class="collapsible">

        {{#if home.people.list}}
        <ul id="people">
            {{#each home.people.list}}
            <li>
                <h3>{{name}}</h3>
                <img src="{{photo.small}}">
                <span>{{title}}</span>
                <span>{{email email}}</span>
                <span>{{telephone}}</span>
                {{ashtml about}}
            </li>
            {{/each}}
        </ul>
        {{/if}}

    </div>
</section>

{{#if home.colors.calltoaction_bg}}
    <section style="background-color: {{home.colors.calltoaction_bg}}; color: {{home.colors.calltoaction_fg}};">
{{else}}
    <section class="aubergine">
{{/if}}
    <div>
        {{email
            home.contact.email
            home.company.call_to_action
            class="button"}}
        <p>{{email home.contact.email}}</p>
        <p>{{home.contact.telephone}}</p>
        {{ashtml home.contact.visiting_address}}
    </div>
</section>
