<!--
    (min-width: 960px)
    (max-width: 960px)
    (max-width: 700px)
    (max-width: 550px)
    (max-width: 400px)
-->
<!-- 2880, 1440, 720, 360 -->

<div id="intro_wrapper">
    <canvas id="intro"></canvas>
</div>

<section class="yellow">
    <div>
        <h1>{{home.about.title}}</h1>
        <h2 class="salmon">{{home.about.subtitle}}</h2>
        {{ashtml home.about.description_top}}
    </div>
</section>
<section class="black">
    <div>
        {{ashtml home.about.description_bottom}}
        <a href="#process" class="button salmon">{{home.about.more_link}}</a>
    </div>
</section>

<section class="salmon">
    <div>
        <ul id="col-3">
            <li>
                <h2>{{home.about.title_insight}}</h2>
                <img src="insight.svg">
                {{ashtml home.about.description_insight}}
            </li>
            <li>
                <h2>{{home.about.title_strategy}}</h2>
                <img src="strategy.svg">
                {{ashtml home.about.description_strategy}}
            </li>
            <li>
                <h2>{{home.about.title_design}}</h2>
                <img src="design.svg">
                {{ashtml home.about.description_design}}
            </li>
        </ul>
    </div>
</section>

{{#if works}}
<section>
    {{#workslist works}}
        <ul>
        {{#each row}}
            <li style="width: {{@width}}%;">
                <div class="work_shade">
                    <div class="work_content">
                        <h2>{{title}}</h2>
                        <a href="{{link}}" class="button">View project</a>
                    </div>
                </div>
                <picture>
                    <source srcset="{{main_photo.main}}" media="(min-width: 960px)">
                    <source srcset="{{main_photo.large}}" media="(min-width: 700px) and (max-width: 960px)">
                    <source srcset="{{main_photo.medium}}" media="(min-width: 400px) and (max-width: 700px)">
                    <img srcset="{{main_photo.small}}" alt="{{main_photo.alt}}">
                </picture>
            </li>
        {{/each}}
        </ul>
    {{/workslist}}
</section>
{{/if}}

<section class="greenish" id="clients">
    <div>
        <h1>{{home.clients.title}}</h1>
        {{ashtml home.clients.description}}

        {{#if works}}
        <ul class="logos">
        {{#each works}}
            <li>
                <picture>
                    <source srcset="{{logo.main}}" media="(min-width: 960px)">
                    <source srcset="{{logo.large}}" media="(min-width: 700px) and (max-width: 960px)">
                    <source srcset="{{logo.medium}}" media="(min-width: 400px) and (max-width: 700px)">
                    <img srcset="{{logo.small}}" alt="{{logo.alt}}">
                </picture>
            </li>
        {{/each}}
        </ul>
        {{/if}}
    </div>
</section>

{{#if home.people.photo}}
    {{imagestyle "people" home.people.photo}}
    <section id="people">
{{else}}
    <section class="black">
{{/if}}
    <div>

        <h1>{{home.people.title}}</h1>
        {{ashtml home.people.description}}

        {{#if home.people.list}}
        <ul id="people">
            {{#each home.people.list}}
            <li>
                <h3>{{name}}</h3>
                <p>{{title}}</p>
                <p>{{email email}}</p>
                <p>{{telephone}}</p>
            </li>
            {{/each}}
        </ul>

        <a href="#people" class="button">{{home.people.more_link}}</a>
        {{/if}}

    </div>
</section>

<section class="black">
    <div>

        {{#if home.people.list}}
        <ul id="people">
            {{#each home.people.list}}
            <li>
                <h3>{{name}}</h3>
                <img src="{{photo.small}}">
                {{ashtml about}}
            </li>
            {{/each}}
        </ul>
        {{/if}}

    </div>
</section>

{{#if home.contact.photo}}
    {{imagestyle "contact" home.contact.photo}}
    <section id="contact">
{{else}}
    <section class="black">
{{/if}}
    <div>
        <h1>{{home.company.name}}</h1>
        <p>{{email home.contact.email}}</p>
        <p>{{home.contact.telephone}}</p>
        {{ashtml home.contact.visiting_address}}
        {{!-- home.contact.location.latitude --}}
        {{!-- home.contact.location.longitude --}}
    </div>
</section>
