<!--
    (min-width: 960px)
    (max-width: 960px)
    (max-width: 700px)
    (max-width: 550px)
    (max-width: 400px)
-->
<!-- 2880, 1440, 720, 360 -->

<div id="intro_wrapper">
    <canvas id="intro"></canvas>
</div>

{{#if home.colors.about_top}}
    <section class="{{home.colors.about_top}}" id="about">
{{else}}
    <section class="yellow" id="about">
{{/if}}
    <div>
        <h1>{{home.about.title}}</h1>
        <h2 class="salmon">{{home.about.subtitle}}</h2>
        {{ashtml home.about.description_top}}
    </div>
</section>

{{#if home.colors.about_bottom}}
    <section class="{{home.colors.about_bottom}}">
{{else}}
    <section class="black">
{{/if}}
    <div>
        {{ashtml home.about.description_bottom}}
        <a href="#process" class="button salmon" id="btn_process">{{home.about.more_link}}</a>
    </div>
</section>

{{#if home.colors.about_process}}
    <section class="{{home.colors.about_process}}" id="process">
{{else}}
    <section class="salmon" id="process">
{{/if}}
    <div class="collapsible">
        <ul>
            <li>
                <h2>{{home.about.title_insight}}</h2>
                <img src="/public/images/symbol_03.svg">
                {{ashtml home.about.description_insight}}
            </li>
            <li>
                <h2>{{home.about.title_strategy}}</h2>
                <img src="/public/images/symbol_02.svg">
                {{ashtml home.about.description_strategy}}
            </li>
            <li>
                <h2>{{home.about.title_design}}</h2>
                <img src="/public/images/symbol_01.svg">
                {{ashtml home.about.description_design}}
            </li>
        </ul>
    </div>
</section>

{{#if works}}
<section>
    {{#workslist works}}
        <ul id="worklist">
        {{#each row}}

            {{#if main_photo}}
                {{imagestyle id "li" main_photo}}
                <li class="{{@description}}" id="{{id}}">
            {{else}}
                {{#if background_color}}
                    <li class="{{@description}} {{background_color}}">
                {{else}}
                    <li class="{{@description}} black">
                {{/if}}
            {{/if}}

                <a href="{{link}}" class="shade">
                    <div>
                        <h2>{{title}}</h2>
                        <span class="button">View project</span>
                    </div>
                </a>
            </li>
        {{/each}}
        </ul>
    {{/workslist}}
</section>
{{/if}}

{{#if home.colors.clients}}
    <section class="{{home.colors.clients}}" id="clients">
{{else}}
    <section class="greenish" id="clients">
{{/if}}
    <div>
        <h1>{{home.clients.title}}</h1>
        {{ashtml home.clients.description}}

        {{#if works}}
        <ul id="logos">
        {{#each works}}
            <li>
                <picture>
                    <source srcset="{{logo.main}}" media="(min-width: 960px)">
                    <source srcset="{{logo.large}}" media="(min-width: 700px) and (max-width: 960px)">
                    <source srcset="{{logo.medium}}" media="(min-width: 400px) and (max-width: 700px)">
                    <img srcset="{{logo.small}}" alt="{{logo.alt}}">
                </picture>
            </li>
        {{/each}}
        </ul>
        {{/if}}
    </div>
</section>

{{#if home.people.photo}}
    {{imagestyle "people" "section" home.people.photo}}
    <section id="people" class="wide">
{{else}}
    <section class="black">
{{/if}}
    <div>

        <h1>{{home.people.title}}</h1>
        {{ashtml home.people.description}}
        <p>{{email home.contact.email}}</p>
        <p>{{home.contact.telephone}}</p>
        {{ashtml home.contact.visiting_address}}

        <a href="#partners" class="button" id="btn_partners">{{home.people.more_link}}</a>

    </div>
</section>

{{#if home.colors.partners}}
    <section class="{{home.colors.partners}} wide" id="partners">
{{else}}
    <section class="black wide" id="partners">
{{/if}}
    <div class="collapsible">

        {{#if home.people.list}}
        <ul id="people">
            {{#each home.people.list}}
            <li>
                <h3>{{name}}</h3>
                <img src="{{photo.small}}">
                <p>{{title}}</p>
                <p>{{email email}}</p>
                <p>{{telephone}}</p>
                {{ashtml about}}
            </li>
            {{/each}}
        </ul>
        {{/if}}

    </div>
</section>

{{#if home.colors.call_to_action}}
    <section class="{{home.colors.call_to_action}}">
{{else}}
    <section class="purple">
{{/if}}
    <div>
        {{email
            home.contact.email
            home.company.call_to_action
            class="button"}}
    </div>
</section>
