{{> menu}}

{{#if work.background_color}}
    <section class="{{work.background_color}} work">
{{else}}
    <section class="yellow work">
{{/if}}
    <div>
        <h1>{{work.title}}</h1>
        <h2>{{work.subtitle}}</h2>
    </div>
</section>

<section>
    <div>
        {{ashtml work.description}}
    </div>
</section>

{{#if work.photos}}
<section id="photo">
    <div>
        <ul>
            {{#each work.photos}}
            <li>
                <picture>
                    <source srcset="{{photo.main}}" media="(min-width: 960px)">
                    <source srcset="{{photo.large}}" media="(min-width: 700px) and (max-width: 960px)">
                    <source srcset="{{photo.medium}}" media="(min-width: 400px) and (max-width: 700px)">
                    <img srcset="{{photo.small}}" alt="{{photo.alt}}">
                </picture>
                <span>{{photo.alt}}</span>
            </li>
            {{/each}}
        </ul>
    </div>
</section>
{{/if}}
