
{{#if work.main_photo}}
    {{imagestyle "work_photo" "section" work.main_photo}}
    <section id="work_photo" class="photo">
{{else}}
    <section class="yellow photo">
{{/if}}
    <div>
        <h1>{{work.title}}</h1>
    </div>
</section>

<section class="salmon">
    <div>
        {{ashtml work.description}}
    </div>
</section>

{{#if work.photos}}
<section class="black">
    <div>
        <ul>
            {{#each work.photos}}
            <li>
                <picture>
                    <source srcset="{{photo.main}}" media="(min-width: 960px)">
                    <source srcset="{{photo.large}}" media="(min-width: 700px) and (max-width: 960px)">
                    <source srcset="{{photo.medium}}" media="(min-width: 400px) and (max-width: 700px)">
                    <img srcset="{{photo.small}}" alt="{{photo.alt}}">
                </picture>
            </li>
            {{/each}}
        </ul>
    </div>
</section>
{{/if}}

{{#if work.links}}
<section class="greenish">
    <div>
        <ul>
            {{#each work.links}}
            <li><a href="{{link}}">{{link}}</a></li>
            {{/each}}
        </ul>
    </div>
</section>
{{/if}}
