{{> menu}}

{{#if work.main_photo}}
    {{imagestyle "workhead" "section" work.main_photo}}
    <section id="workhead">
{{else}}
    {{#if work.background_color}}
    <section style="background-color: {{work.background_color}}; color: {{work.foreground_color}};">
    {{else}}
    <section class="yellow">
    {{/if}}
{{/if}}
</section>

<div class="headline">
    <h1>{{work.title}}</h1>
    <h2>{{work.subtitle}}</h2>
</div>

<section class="work_description">
    <div>
        {{{work.description}}}

        {{#if work.tags}}
            <p id="tags">Tags</p>
            <p>{{work.tags}}</p>
        {{/if}}
    </div>
</section>

{{#if work.photos}}
<section id="photo">
    <div>
        <ul>
            {{#each work.photos}}
            <li>
                <picture>
                    <source srcset="{{photo.main}}" media="(min-width: 960px)">
                    <source srcset="{{photo.large}}" media="(min-width: 700px) and (max-width: 960px)">
                    <source srcset="{{photo.medium}}" media="(min-width: 400px) and (max-width: 700px)">
                    <img srcset="{{photo.small}}" alt="{{photo.alt}}">
                </picture>
                <span>{{photo.alt}}</span>
            </li>
            {{/each}}
        </ul>
    </div>
</section>
{{/if}}
