<!doctype html>

<!--[if lte IE 9 ]> <html lang="en" class="ie9" itemscope itemtype="http://schema.org/LocalBusiness"> <![endif]-->
<!--[if !(IE)]><!--> <html lang="en" itemscope itemtype="http://schema.org/LocalBusiness"> <!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">


    <meta property="og:title" content="{{home.company.name}} : {{page.name}}" />

    {{#isWork page.name}}
        <title>{{home.company.name}} : {{work.title}}</title>
        <meta property="og:url" content="{{work.link}}" />
        <meta property="og:description" content="{{work.excerpt}}" />
        {{#if work.main_photo}}
        <meta property="og:image" content="{{work.main_photo.main}}" />
        {{/if}}
    {{else}}
        <title>{{home.company.name}}</title>
        <meta property="og:url" content="{{page.url}}" />
        <meta property="og:description" content="{{home.company.name}} : {{home.company.tagline}}" />
        <meta property="og:image" content="{{home.people.photo.main}}" />
    {{/isWork}}

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@ComteBureau" />
    <meta name="twitter:creator" content="@ComteBureau" />

    <link rel="icon" sizes="180x180" href="/public/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" href="/public/images/apple-touch-icon.png">
    <link rel="apple-touch-icon-precomposed" href="/public/images/apple-touch-icon-precomposed.png">


    <!-- inline reset -->
    <link rel="stylesheet" type="text/css" href="/public/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">

    <script type="text/javascript">
        window.comte = {
            text: '{{home.company.tagline}}'
        };
    </script>
    <script type="text/javascript" src="/public/js/comte.js"></script>

    <!--[if lte IE 9]><!-->
    <link rel="stylesheet" href="/public/css/ie.css">
    <!--<![endif]-->

    <script>
        document.createElement('picture');
    </script>
    <script src="/public/js/picturefill.min.js" async></script>

</head>

<body>

    {{{body}}}

</body>
</html>
